
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-image: url(../5IV8_ValtierrraOsegueraDanielJacobo_webypruebas/image/plantillaut.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #212121;
    line-height: 1.6;
}

.mensaje {
  position: absolute;
  top: 40px;
  right: 30px;
  color: white;
  font-size: 18px;
  font-family: system-ui, 'Open Sans';
  text-align: left;
  max-width: 320px;
  padding: 15px;
  border-radius: 12px;


  background: radial-gradient(circle at top left, 
              #00ffcc 0%,   
              #00bfff 25%, 
              #007f5f 50%,  
              #001a1a 100% 
            );
}
.mensaje2 {
  position: absolute;
  top: 9px;     
  right: 115px;    
  color: rgb(229, 222, 222) ;   
  font-size: 17px; 
  font-family: system-ui, 'Open Sans', ;
  text-align: left; 
  max-width: 300px;  
  background:rgb(63, 68, 82); 
  padding: 4px; 
  border-radius: 5px;
}


.cartas {
  position: relative; 
  width: 800px; 
  height: 600px; 
}

.carta {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.carta:hover {
  transform: scale(1.1) translateY(-10px); 
  
  
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.4); 
}

.carta-morada {
  position: absolute;
  top: 44px;   
  left: 700px;  
  width: 135px; 
  height: auto;
  z-index: 10;
}
.carta-naranja {
  position: absolute;
  top: 55px;  
  left: 840px;  
  width: 135px; 
  height: auto;
  z-index: 10;  
}
.Jimmy {
  position: absolute;
  top: 210px;  
  left: 110px;  
  width: 120px; 
  height: auto;
  z-index: 10;  
}
.carta-lw {
  position: absolute;
  top: 42px;  
  left: 564px;  
  width: 130px; 
  height: auto;
  z-index: 10;  
}
.carta-mc1 {
  position: absolute;
  top: 200px;  
  left: 510px;  
  width: 130px; 
  height: auto;
  z-index: 10;  
}
.carta-mc2 {
  position: absolute;
  top: 200px;  
  left: 700px;  
  width: 130px; 
  height: auto;
  z-index: 10;  
}
.carta-mc3 {
  position: absolute;
  top: 200px;  
  left: 900px;  
  width: 130px; 
  height: auto;
  z-index: 10;  
}
.carta-lb {
  position: absolute;
  top: 360px;  
  left: 337px;  
  width: 130px; 
  height: auto;
  z-index: 10;  
}
.carta-dfc1 {
  position: absolute;
  top: 372px;  
  left: 560px;  
  width: 130px; 
  height: auto;
  z-index: 10;  
}
.carta-dfc2 {
  position: absolute;
  top: 370px;  
  left: 845px;  
  width: 130px; 
  height: auto;
  z-index: 10;  
}
.carta-rb{
  position: absolute;
  top: 360px;  
  left: 1080px;  
  width: 130px; 
  height: auto;
  z-index: 10;  
}
.carta-po {
  position: absolute;
  top: 458px;  
  left: 700px;  
  width: 130px; 
  height: auto;
  z-index: 10;  
}



/* left: 850px Para el Rw 
/*width: 135px; /* tamaño aproximado de la carta */
/* left: 700px; /* Ajusta también para centrar en la posición de Dybala  */